* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
}
.public-header {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  display: flex;
}
ul > li {
  height: 10px;
  margin-left: 34px;
  background: #d3dadd;
}
.nav-1 {
  width: 64px;
  margin-left: 0;
}
.nav-2 {
  width: 92px;
}
.nav-3 {
  width: 64px;
}
.nav-4 {
  width: 34px;
}
.logo {
  background: #4fc7f7;
  height: 18px;
  width: 22px;
}
.search {
  display: flex;
  height: 32px;
}
.search > div {
  margin-left: 18px;
  border-radius: 5px;
}
.search-1 {
  display: flex;
  align-items: center;
  background: #f4f8f9;
  width: 224px;
}
.search-1>div{
  background: #dfe6e8;
  width: 54px;
  height: 5px;
  margin-left: 16px;
}
.search-2 {
  background: #4fc7f7;
  width: 34px;
}
.search-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4fc7f7;
  width: 82px;
}
.search-3>div{
  background: #c5e4fa;
  width: 54px;
  height: 5px;
}


.主页大图 {
  background: #ff756e;
  max-width: 100vw;
  height: 502px;
}


.个人导航 {
  display: flex;
  position: relative;
  justify-content: space-between;
  background: #ffffff;
  height: 64px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
.个人导航头像 {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #f9a655;
  transform: translateY(-120px);
  border-radius: 10px;
  border: 4px solid #fff;
}
.个人导航目录左 {
  display: flex;
  width: 320px;
}
.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 64px;
  transform: translateX(288px);
}
.text-center > dt {
  display: flex;
}
.count-1 {
  background: #d3dadd;
  width: 46px;
  height: 8px;
  margin-left: 12px;
  margin-right: 12px;
}
.count-2 {
  background: #d3dadd;
  width: 62px;
  height: 8px;
  margin-left: 14px;
  margin-right: 14px;
}
.count-3 {
  background: #d3dadd;
  width: 46px;
  height: 8px;
  margin-left: 12px;
  margin-right: 12px;
}
.count-4 {
  background: #d3dadd;
  width: 62px;
  height: 8px;
  margin-left: 14px;
  margin-right: 14px;
}
.text-center > dd {
  width: 26px;
  height: 8px;
  background: #d3dadd;
  margin-top: 10px;
}
.个人导航目录右 {
  display: flex;
  align-items: center;
}
.目录右-1 {
  background: #d3dadd;
  width: 16px;
  height: 16px;
}
.目录右-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4fc7f7;
  width: 98px;
  height: 36px;
  margin-left: 18px;
  border-radius: 5px;
}
.目录右-2>div{
  background: #c5e4fa;
  width: 66px;
  height: 6px;
}


.content {
  background: #f4f8f9;
  padding-bottom: 80px;
}
/*为了把调下面的背景色,多加了个div*/
.main {
  display: flex;
  width: 1180px;
  height: 666px;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}
.main-left {
  width: 264px;
  margin-right: 26px;
}
.main-center {
  border: 1px solid blue;
  width: 590px;
  background: #fff;
}
.main-right {
  border: 1px solid black;
  width: 290px;
}
.main-left-1-1 {
  background: #d3dadd;
  width: 140px;
  height: 10px;
  margin-top: 46px;
}
.main-left-1-2 {
  background: #d3dadd;
  width: 68px;
  height: 8px;
  margin-top: 14px;
}
.main-left-1-3 {
  background: #dfe6e8;
  width: 258px;
  height: 6px;
  margin-top: 18px;
}
.main-left-1-4 {
  background: #dfe6e8;
  width: 192px;
  height: 6px;
  margin-top: 14px;
}
.main-left-2-1-left {
  display: inline-block;
  background: #dfe6e8;
  width: 8px;
  height: 6px;
}
.main-left-2-1-right {
  display: inline-block;
  background: #dfe6e8;
  width: 86px;
  height: 6px;
  margin-top: 46px;
}
.main-left-2-2-right {
  display: inline-block;
  background: #dfe6e8;
  width: 126px;
  height: 6px;
}
.main-left-2-3-right {
  display: inline-block;
  background: #dfe6e8;
  width: 156px;
  height: 6px;
}
.main-left-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9fd2f7;
  width: 264px;
  height: 38px;
  border-radius: 6px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.main-left-3>div{
  background: #dfe6e8;
  width: 124px;
  height: 6px;
}
.main-left-4-1-right {
  display: inline-block;
  background: #dfe6e8;
  width: 146px;
  height: 6px;
}
.main-left-4-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 32px;
}
.main-left-4-2 > div {
  background: #d9ebf8;
  width: 48px;
  height: 48px;
  border-radius: 5px;
}
.main-left-5-2 {
  margin-top: 6px;
}
.main-left-5-2 > div {
  display: flex;
  justify-content: space-between;
}
.main-left-5-2 > div > div {
  background: #a28ddd;;
  width: 84px;
  height: 84px;
  border-radius: 5px;
  margin-top: 6px;
}
