* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
}
.public-header {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  display: flex;
}
ul > li {
  height: 10px;
  margin-left: 34px;
  background: #d3dadd;
}
.nav-1 {
  width: 64px;
  margin-left: 0;
}
.nav-2 {
  width: 92px;
}
.nav-3 {
  width: 64px;
}
.nav-4 {
  width: 34px;
}
.logo {
  background: #4fc7f7;
  height: 18px;
  width: 22px;
}
.search {
  display: flex;
  height: 32px;
}
.search > div {
  margin-left: 18px;
  border-radius: 5px;
}
.search-1 {
  display: flex;
  align-items: center;
  background: #f4f8f9;
  width: 224px;
}
.search-1>div{
  background: #dfe6e8;
  width: 54px;
  height: 5px;
  margin-left: 16px;
}
.search-2 {
  background: #4fc7f7;
  width: 34px;
}
.search-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4fc7f7;
  width: 82px;
}
.search-3>div{
  background: #c5e4fa;
  width: 54px;
  height: 5px;
}


.主页大图 {
  background: #ff756e;
  height: 502px;
}


.个人导航 {
  display: flex;
  position: relative;
  justify-content: space-between;
  background: #ffffff;
  height: 64px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
.个人导航头像 {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #f9a655;
  transform: translateY(-120px);
  border-radius: 10px;
  border: 4px solid #fff;
}
.个人导航目录左 {
  display: flex;
  width: 320px;
}
.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 64px;
  transform: translateX(288px);
}
.text-center > dt {
  display: flex;
}
.count-1 {
  background: #e3ebee;
  width: 46px;
  height: 8px;
  margin-left: 12px;
  margin-right: 12px;
}
.count-2 {
  background: #e3ebee;
  width: 62px;
  height: 8px;
  margin-left: 14px;
  margin-right: 14px;
}
.count-3 {
  background: #e3ebee;
  width: 46px;
  height: 8px;
  margin-left: 12px;
  margin-right: 12px;
}
.count-4 {
  background: #e3ebee;
  width: 62px;
  height: 8px;
  margin-left: 14px;
  margin-right: 14px;
}
.text-center > dd {
  width: 26px;
  height: 8px;
  background: #e3ebee;
  margin-top: 10px;
}
.个人导航目录右 {
  display: flex;
  align-items: center;
}
.目录右-1 {
  background: #e3ebee;
  width: 16px;
  height: 16px;
}
.目录右-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4fc7f7;
  width: 98px;
  height: 36px;
  margin-left: 18px;
  border-radius: 5px;
}
.目录右-2>div{
  background: #c5e4fa;
  width: 66px;
  height: 6px;
}


.content {
  background: #f4f8f9;
  padding-bottom: 80px;
}
/*为了把调下面的背景色,多加了个div*/
.main {
  display: flex;
  width: 1180px;
  height: 666px;
  /*border: 1px solid red;*/
  margin-left: auto;
  margin-right: auto;
}
.main-left {
  width: 264px;
  margin-right: 26px;
}
.main-center {
  width: 590px;
}
.main-right {
  width: 290px;
  margin-left: 10px;
}
.main-left-1-1 {
  background: #d3dadd;
  width: 140px;
  height: 10px;
  margin-top: 46px;
}
.main-left-1-2 {
  background: #d3dadd;
  width: 68px;
  height: 8px;
  margin-top: 14px;
}
.main-left-1-3 {
  background: #dfe6e8;
  width: 258px;
  height: 6px;
  margin-top: 18px;
}
.main-left-1-4 {
  background: #dfe6e8;
  width: 192px;
  height: 6px;
  margin-top: 14px;
}
.main-left-2-1-left {
  display: inline-block;
  background: #dfe6e8;
  width: 8px;
  height: 6px;
}
.main-left-2-1-right {
  display: inline-block;
  background: #dfe6e8;
  width: 86px;
  height: 6px;
  margin-top: 46px;
}
.main-left-2-2-right {
  display: inline-block;
  background: #dfe6e8;
  width: 126px;
  height: 6px;
}
.main-left-2-3-right {
  display: inline-block;
  background: #dfe6e8;
  width: 156px;
  height: 6px;
}
.main-left-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9fd2f7;
  width: 264px;
  height: 38px;
  border-radius: 6px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.main-left-3>div{
  background: #dfe6e8;
  width: 124px;
  height: 6px;
}
.main-left-4-1-right {
  display: inline-block;
  background: #dfe6e8;
  width: 146px;
  height: 6px;
}
.main-left-4-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 32px;
}
.main-left-4-2 > div {
  background: #d9ebf8;
  width: 48px;
  height: 48px;
  border-radius: 5px;
}
.main-left-5-2 {
  margin-top: 6px;
}
.main-left-5-2 > div {
  display: flex;
  justify-content: space-between;
}
.main-left-5-2 > div > div {
  background: #a28ddd;;
  width: 84px;
  height: 84px;
  border-radius: 5px;
  margin-top: 6px;
}


.main-center-top{
  display: flex;
  align-items: center;
  height: 44px;
  background: #fff;
  margin-top: 12px;
}
.main-center-top-1{
  width: 60px;
  height: 8px;
  margin-left: 14px;
  background: #e3ebee;
}
.main-center-top-2{
  width: 122px;
  height: 8px;
  margin-left: 34px;
  background: #e3ebee;
}
.main-center-middle{
  display: flex;
  height: 422px;
  margin-top: 2px;
  margin-bottom: 2px;
  background: #fff;
}
.main-center-middle-left{
  display: flex;
  justify-content: center;
  width: 72px;
}
.main-center-middle-left>div{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #95de7c;
  margin-top: 12px;
}
.main-center-middle-right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 518px;
}
.main-center-middle-right-1{
  width: 76px;
  height: 8px;
  background: #d3dadd;
}
.main-center-middle-right-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}
.main-center-middle-right-2-one{
  width: 392px;
  height: 6px;
  background: #eff0f1;
}
.main-center-middle-right-2-two{
  width: 392px;
  height: 6px;
  background: #eff0f1;
}
.main-center-middle-right-2-three{
  width: 252px;
  height: 6px;
  background: #eff0f1;
}
.main-center-middle-right-3{
  height: 252px;
  background: #95de7c;
  border-radius: 5px;
  margin-right: 12px;
}
.main-center-middle-right-4{
  display: flex;
}
.main-center-middle-right-4-1{
  width: 14px;
  height: 8px;
  background: #dfe6e8;
  margin-left: 2px;
}
.main-center-middle-right-4-2{
  display: flex;
  margin-left: 38px;
}
.main-center-middle-right-4-2-left{
  width: 14px;
  height: 8px;
  background: #dfe6e8;
}
.main-center-middle-right-4-2-right{
  width: 22px;
  height: 4px;
  background: #dfe6e8;
  margin-left: 8px;
  margin-top: 2px;
}
.main-center-middle-right-4-4{
  display: flex;
  margin-left: 38px;
}
.main-center-middle-right-4-4>div{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #dfe6e8;
  margin-left: 5px;
}
.main-center-bottom{
  display: flex;
  height: 180px;
  background: #fff;
}
.main-center-bottom-left{
  display: flex;
  justify-content: center;
  width: 72px;
}
.main-center-bottom-left>div{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #89bdf8;
  margin-top: 18px;
}
.main-center-bottom-right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 518px;
}
.main-center-bottom-right-1{
  width: 76px;
  height: 8px;
  background: #d3dadd;
}
.main-center-bottom-right-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}
.main-center-bottom-right-2-one{
  width: 392px;
  height: 6px;
  background: #eff0f1;
}
.main-center-bottom-right-2-two{
  width: 392px;
  height: 6px;
  background: #eff0f1;
}
.main-center-bottom-right-2-three{
  width: 252px;
  height: 6px;
  background: #eff0f1;
}
.main-center-bottom-right-3{
  display: flex;
}
.main-center-bottom-right-3-1{
  width: 14px;
  height: 8px;
  background: #dfe6e8;
  margin-left: 2px;
}
.main-center-bottom-right-3-2{
  display: flex;
  margin-left: 38px;
}
.main-center-bottom-right-3-2-left{
  width: 14px;
  height: 8px;
  background: #dfe6e8;
}
.main-center-bottom-right-3-2-right{
  width: 22px;
  height: 4px;
  background: #dfe6e8;
  margin-left: 8px;
  margin-top: 2px;
}
.main-center-bottom-right-3-4{
  display: flex;
  margin-left: 38px;
}
.main-center-bottom-right-3-4>div{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #dfe6e8;
  margin-left: 5px;
}


.main-right-top{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 274px;
  padding-left: 14px;
  margin-top: 12px;
  background: #ffffff;
}
.main-right-top-1{
  display: flex;
}
.main-right-top-1-1{
  width: 104px;
  height: 8px;
  background: #e3ebee;
}
.main-right-top-1-2{
  background: #d9f0ff;
  width: 38px;
  height: 6px;
  margin-left: 8px;
}
.main-right-top-1-3{
  background: #d9f0ff;
  width: 38px;
  height: 6px;
  margin-left: 8px;
}
.main-right-top-2{
  display: flex;
  justify-content: space-between;
}
.main-right-top-2-left{
  background: #d9ebf8;
  width: 48px;
  height: 48px;
}
.main-right-top-2-middle{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 26px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.main-right-top-2-middle-1{
  display: flex;
}
.main-right-top-2-middle-1>.items-1{
  background: #e3ebee;
  width: 42px;
  height: 7px;
}
.main-right-top-2-middle-1>.items-2{
  background: #e3ebee;
  width: 56px;
  height: 7px;
  margin-left: 8px;
}
.main-right-top-2-middle-2{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f5f7;
  width: 84px;
  height: 26px;
  border-radius: 5px;
}
.main-right-top-2-middle-2-left{
  background: #ffffff;
  width: 10px;
  height: 5px;
}
.main-right-top-2-middle-2-right{
  margin-left: 7px;
  background: #ffffff;
  width: 38px;
  height: 5px;
}
.main-right-top-2-right{
  background: #e3ebee;
  width: 12px;
  height: 7px;
  margin-top: 2px;
  margin-right: 16px;
}
.main-right-top-5{
  background: #d9f0ff;
  width: 64px;
  height: 7px;
}


.main-right-middle{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #ffffff;
  height: 262px;
  margin-top: 10px;
  padding-left: 14px;
}
.main-right-middle-1{
  display: flex;
  margin-top: 4px;
  margin-bottom: 10px;
}
.main-right-middle-1-left{
  width: 104px;
  height: 10px;
  background: #e3ebee;
}
.main-right-middle-1-right{
  width: 42px;
  height: 10px;
  background: #e3ebee;
}
.main-right-middle-2{
  width: 74px;
  height: 8px;
  background: #e4f5ff;
}
.main-right-middle-3{
  width: 112px;
  height: 8px;
  background: #e4f5ff;
}
.main-right-middle-4{
  width: 104px;
  height: 8px;
  background: #e4f5ff;
}
.main-right-middle-5{
  width: 64px;
  height: 8px;
  background: #e4f5ff;
}
.main-right-middle-6{
  width: 144px;
  height: 8px;
  background: #e4f5ff;
}
.main-right-middle-7{
  width: 122px;
  height: 8px;
  background: #e4f5ff;
}
.main-right-middle-8{
  width: 98px;
  height: 8px;
  background: #e4f5ff;
}
.main-right-bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  margin-left: 14px;
  }
.main-right-bottom-1{
  width: 76px;
  height: 6px;
  background: #dfe6e8;
}
.main-right-bottom-2{
  width: 34px;
  height: 6px;
  background: #dfe6e8;
}
.main-right-bottom-3{
  width: 24px;
  height: 6px;
  background: #dfe6e8;
}
.main-right-bottom-4{
  width: 44px;
  height: 6px;
  background: #dfe6e8;
  margin-right: 64px;
}
